<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <%- include('./includes/menu.ejs') %>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Page Not Found
                    </div>
                    <div class="panel-body">
                        <div class="row">
                           <h1>PAGE NOT FOUND</h1>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./includes/footer.ejs') %>